@model DentalShop.Areas.ViewModels.DetailOrdersViewModel


@{ ViewData["Title"] = "Details"; }

<h1 style="text-align:center; color:blue;">@Model.Name</h1>
<a style="text-align:center;" class="btn btn-danger" asp-area="Admin" asp-controller="ProductOrders" asp-action="Delete" asp-route-id="@Model.Id">DONE</a> 
<table class="table">
    <thead>
        <tr>
            <th>
                <span>Title</span>
            </th>
            <th>
                <span>Image</span>
            </th>
            <th>
                <span>Count</span>
            </th>
            <th>
                <span>Delivery</span>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.ProductOrders)
        {

<tr>

    <td>
        <p>@item.Product.Title</p>
    </td>
    <td>
        <img src="@item.Product.CoverImage" width="100" alt="Alternate Text" />
    </td>
    <td>
        <p>@item.Count</p>
    </td>
    <td>
        <p>@item.Delivery</p>
    </td>

</tr>}
    </tbody>
</table>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |*@
    <a asp-action="Index">Back to List</a>
</div>
