@model DentalShop.Areas.ViewModels.ProductViewModel

@{
    ViewData["Title"] = "Details";
}


<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.CoverImage)
        </dt>
        <dd class="col-sm-10">
            <img src="@Model.Product.CoverImage" width="100" alt="Alternate Text" />

        </dd>



        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Category.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.IsActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.IsActive)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Color)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Color)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Link)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Link)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Currency)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Currency)
        </dd>

        <dd>

            @foreach (var item in Model.Images)
            {
                <img src="@item.ProductImage" width="100" alt="Alternate Text" />

            }

        </dd>

    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Product.Id">Edit</a> |
    <a class="btn btn-info" asp-action="Index">Back to List</a>
</div>
